body {
    background: #ecf0f1;
}

header {
    background: #34495e;
    height: 60px;
}

header img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 5px 10px;
}

form {
    background: rgba(255,255,255,0.3);
    width: 450px;
    height: 500px;
    margin: 50px auto ;
    margin-bottom: 0px;
    border-bottom: 4px solid #34495e;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form label {
    background: #34495e;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: white;
    border-bottom: 4px solid #2c3e50;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}